<h1>ACTIVITY 1 - PALMERS PENGUINS DATA ANALYTICS PROJECT</h1>
<hr>
<h3>Analyst: Anne B. Fedelino</h3>

In [17]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [18]:
bird = pd.read_csv('Datasets\\penguins.csv')

In [19]:
bird

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [35]:
bird.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [36]:
bird.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h3>Q1.) What is the average flipper length of penguins for each sex (Male vs Female)?</h3>
<hr>

In [33]:
bird.groupby("sex")["flipper_length_mm"].mean()

sex
female    197.363636
male      204.505952
Name: flipper_length_mm, dtype: float64

INSIGHT:
Male penguins have longer flippers than females.

<h3>Q2.) What penguin has the longest flipper?</h3>
<hr>

In [21]:
bird.groupby('species')['flipper_length_mm'].max()

species
Adelie       210.0
Chinstrap    212.0
Gentoo       231.0
Name: flipper_length_mm, dtype: float64

INSIGHT:
Gento is the species that has the longest flipper with 231.0mm.

<h3>Q3.) Which island has the most penguins?</h3>
<hr>

In [22]:
bird['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

INSIGHT:
Biscoe has the most penguins among the species.

<h3>Q4.) In which year was the most penguin data collected?</h3>
<hr>

In [23]:
bird['year'].mode()[0]

np.int64(2009)

INSIGHT:
Year 2009 has the most penguin in the data.

<h3>Q5.) What is the average bill length for each species?</h3>
<hr>

In [24]:
bird.groupby('species')['bill_length_mm'].mean()

species
Adelie       38.791391
Chinstrap    48.833824
Gentoo       47.504878
Name: bill_length_mm, dtype: float64

INSIGHT:
The bill length of Adelie is 38.825144, Chinstrap is 48.833824, and Gentoo is 47.475983.

<h3>Q6.) How many penguins were recorded in year 2008?</h3>
<hr>

In [25]:
(bird['year'] == 2008).sum()

np.int64(114)

INSIGHT:
There are 114 penguins in year 2008.

<h3>Q7.) What is the average body mass for each species?</h3>
<hr>

In [26]:
bird.groupby('species')['body_mass_g'].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

INSIGHT:
The average body mass of Adelie is 3703.958910, Chinstrap is 3733.088235, Gentoo is 5068.965761.

<h3>Q8.) How many missing values are there in each column?</h3>
<hr>

In [34]:
bird.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

INSIGHT:
There are 3 missing values in the dataset, which indicates incomplete information.

<h3>Q9.) What is the average bill depth for each species?</h3>
<hr>

In [28]:
bird.groupby(['species'])['bill_depth_mm'].mean()

species
Adelie       18.346358
Chinstrap    18.420588
Gentoo       14.982114
Name: bill_depth_mm, dtype: float64

INSIGHT:
Adelie and Chinstrap penguins have similar average bill depths 18mm, while Gentoo penguins have bill depth 15 mm.

<h3>Q10.) How many penguins have a bill length greater than 50 mm?</h3>
<hr>

In [29]:
(bird['bill_length_mm'] > 50).sum()

np.int64(52)

INSIGHT:
There 52 penguins that have a bill length greater than 50mm.

<h3>Q11.) How many penguins have a body mass below 3,000 grams?</h3>
<hr>

In [30]:
(bird['body_mass_g'] < 3000).sum()

np.int64(9)

In [31]:
bird[bird['body_mass_g'] < 3000][['species','body_mass_g']]

       species  body_mass_g
47      Adelie       2975.0
54      Adelie       2900.0
58      Adelie       2850.0
64      Adelie       2850.0
98      Adelie       2900.0
104     Adelie       2925.0
116     Adelie       2900.0
298  Chinstrap       2900.0
314  Chinstrap       2700.0

INSIGHT:
There are 9 penguins that have a body mass below 3,000 grams.

<h3>Q12.) Which species has the shortest bill depth?</h3>
<hr>

In [32]:
bird.groupby('species')['bill_depth_mm'].mean()

species
Adelie       18.346358
Chinstrap    18.420588
Gentoo       14.982114
Name: bill_depth_mm, dtype: float64

INSIGHT:
Gento has the shortest bill dept among species with 14.999606.