<h1>ACTIVITY 1 - PALMERS PENGUINS DATA ANALYTICS PROJECT</h1>
<hr>
<h3>Analyst: Anne B. Fedelino</h3>

In [1]:
#libraries

In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
bird = pd.read_csv('Datasets\\penguins.csv')

In [4]:
bird

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h3>Q1.) How many penguins belongs to each species?</h3>
<hr>

In [27]:
bird['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

INSIGHT:
According to the data Adelie has 152 penguins, Gentoo has 124 penguins, and Chinstrap has 68 penguins.

<h3>Q2.) What penguin has the longest flipper?</h3>
<hr>

In [28]:
bird.groupby('species')['flipper_length_mm'].max()

species
Adelie       210.0
Chinstrap    212.0
Gentoo       231.0
Name: flipper_length_mm, dtype: float64

INSIGHT:
Gento is the species that has the longest flipper with 231.0mm.

<h3>Q3.) Which island has the most penguins?</h3>
<hr>

In [29]:
bird['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

INSIGHT:
Biscoe has the most penguins among the species.

<h3>Q4.) In which year was the most penguin data collected?</h3>
<hr>

In [30]:
bird['year'].mode()[0]

np.int64(2009)

INSIGHT:
Year 2009 has the most penguin in the data.

<h3>Q5.) What is the average bill length for each species?</h3>
<hr>

In [31]:
bird.groupby('species')['bill_length_mm'].mean()

species
Adelie       38.825144
Chinstrap    48.833824
Gentoo       47.475983
Name: bill_length_mm, dtype: float64

INSIGHT:
The bill length of Adelie is 38.825144, Chinstrap is 48.833824, and Gentoo is 47.475983.

<h3>Q6.) How many penguins were recorded in year 2008?</h3>
<hr>

In [32]:
(bird['year'] == 2008).sum()

np.int64(114)

INSIGHT:
There are 114 penguins in year 2008.

<h3>Q7.) What is the average body mass for each species?</h3>
<hr>

In [33]:
bird.groupby('species')['body_mass_g'].mean()

species
Adelie       3703.958910
Chinstrap    3733.088235
Gentoo       5068.965761
Name: body_mass_g, dtype: float64

INSIGHT:
The average body mass of Adelie is 3703.958910, Chinstrap is 3733.088235, Gentoo is 5068.965761.

<h3>Q8.) How many male and female penguins are there?</h3>
<hr>

In [34]:
bird['sex'].value_counts()

sex
male      179
female    165
Name: count, dtype: int64

INSIGHT:
There are 179 male penguins and 165 female penguins.

<h3>Q9.) What is the average bill depth for each species?</h3>
<hr>

In [35]:
bird.groupby(['species'])['bill_depth_mm'].mean()

species
Adelie       18.338495
Chinstrap    18.420588
Gentoo       14.999606
Name: bill_depth_mm, dtype: float64

INSIGHT:
Adelie and Chinstrap penguins have similar average bill depths 18mm, while Gentoo penguins have bill depth 15 mm.

<h3>Q10.) How many penguins have a bill length greater than 50 mm?</h3>
<hr>

In [36]:
(bird['bill_length_mm'] > 50).sum()

np.int64(52)

INSIGHT:
There 52 penguins that have a bill length greater than 50mm.

<h3>Q11.) How many penguins have a body mass below 3,000 grams?</h3>
<hr>

In [37]:
(bird['body_mass_g'] < 3000).sum()

np.int64(9)

In [38]:
bird[bird['body_mass_g'] < 3000][['species','body_mass_g']]

       species  body_mass_g
47      Adelie       2975.0
54      Adelie       2900.0
58      Adelie       2850.0
64      Adelie       2850.0
98      Adelie       2900.0
104     Adelie       2925.0
116     Adelie       2900.0
298  Chinstrap       2900.0
314  Chinstrap       2700.0

INSIGHT:
There are 9 penguins that have a body mass below 3,000 grams.

<h3>Q12.) Which species has the shortest bill depth?</h3>
<hr>

In [39]:
bird.groupby('species')['bill_depth_mm'].mean()

species
Adelie       18.338495
Chinstrap    18.420588
Gentoo       14.999606
Name: bill_depth_mm, dtype: float64

INSIGHT:
Gento has the shortest bill dept among species with 14.999606.